/*
 * A clean, no shadowed variant of the normal style.
 */
 
@import url(../main.css);

/*
----------------------------------------------------------------------------
        Links
----------------------------------------------------------------------------
*/

a {
    text-shadow: 0px 0px 0px;
}

a:visited {
    text-shadow: 0px 0px 0px;
}

/*
----------------------------------------------------------------------------
        Outgoing
----------------------------------------------------------------------------
*/

.outgoing {
    text-shadow: 0px 0px 0px;
}

/*
----------------------------------------------------------------------------
        Incoming
----------------------------------------------------------------------------
*/

.incoming {
    text-shadow: 0px 0px 0px;
}

/*
----------------------------------------------------------------------------
        Incoming context
----------------------------------------------------------------------------
*/

.contextincoming {
    text-shadow: 0px 0px 0px;
}

.contextincoming a {
    text-shadow: 0px 0px 0px;
}

/*
----------------------------------------------------------------------------
        Outgoing context
----------------------------------------------------------------------------
*/

.contextoutgoing {
    text-shadow: 0px 0px 0px;
}

.contextoutgoing a {
    text-shadow: 0px 0px 0px;
}

/*
----------------------------------------------------------------------------
        Status messages
----------------------------------------------------------------------------
*/

.status {
    text-shadow: 0px 0px 0px;
}

.status .offline {
    text-shadow: 0px 0px 0px;
}

.status .online {
    text-shadow: 0px 0px 0px;
}

.status .error {
    text-shadow: 0px 0px 0px;
}

.status .return_away {
    text-shadow: 0px 0px 0px;
}

.status .return_idle {
    text-shadow: 0px 0px 0px;
}



