<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTextColors</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1337 Red</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.1337Red.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.1.2</string>
	<key>CFBundleName</key>
	<string>1337 Red</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultBackgroundColor</key>
	<string>080808</string>
	<key>DefaultFontFamily</key>
	<string>Monaco</string>
	<key>DefaultFontSize</key>
	<integer>10</integer>
	<key>DefaultVariant</key>
	<string>Default</string>
	<key>DisableCustomBackground</key>
	<false/>
	<key>ShowIncomingFonts</key>
	<false/>
	<key>ShowsUserIcons</key>
	<false/>
</dict>
</plist>
