<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict> 
<key>CFBundleDevelopmentRegion</key> 
<string>English</string> 
<key>CFBundleGetInfoString</key> 
<string>Bare1337</string> 
<key>CFBundleIdentifier</key> 
<string>com.adiumx.bare1337.style</string> 
<key>CFBundleInfoDictionaryVersion</key> 
<string>1.12</string> 
<key>CFBundleName</key> 
<string>Bare1337</string> 
<key>CFBundlePackageType</key> 
<string>AdIM</string> 
<key>MessageViewVersion</key> 
<integer>1</integer> 
<key>DefaultFontFamily</key> 
<string>Monaco</string> 
<key>DefaultFontSize</key> 
<integer>10</integer> 
<key>ShowsUserIcons</key> 
<true/> 
<key>DisableCustomBackground</key> 
<false/> 
<key>DefaultBackgroundColor</key> 
<string>FFFFFF</string>
</dict>
</plist> 